

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav h1{
   font-size: 30px;
   margin-right: 9em;
   
}


ul{
    display: flex;
    list-style: none;
}
li {
    padding-left: 40px;
    
    
}
li a{
    text-decoration: none;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.second-step{
    display: flex;
    background-image: url("circle\ design.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    
}

#color{
    color: rebeccapurple;
}



.main-camera:hover{
    transform: scale(1.5) rotate(360deg);
    transition: transform 6s ease-in-out;
}
.influencer{
    padding-left: 70px;
    padding-top: 50px;
    font-size:25px;
}
.influencer a{
    text-decoration: none;
    background-color: rgba(14, 210, 0, 0.476);
    border-radius: 10px;
    padding-right: 10px;
    font-size: 25px;

    
}
  
  h2{
    padding-left: 20em;
    font-size: 30px;
    color:blue;
}



.cam-lists{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    margin-bottom: 5em;
    
    
    

}
.main-lists{
     width: 300px;
     border: 4px solid lightblue;
     padding: 12px;
     margin: 2px;
     box-shadow: 4px ;
     border-radius: 6px;

     

}
.fa-star.filled{
    color: tomato;
}
#fas-fa{

    text-decoration: none;
    color: green;
    padding-left: 70em;
    padding-top: 40em;
    font-size: 16px;

}
.the-end{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-shadow: grey;
    margin-top: 8em;
    
    
}
.paragraph{
    font-size: 1.2em;

}
.paragraph p{
    color: blueviolet;
    text-shadow:1px 1px blueviolet ;
    
}
#join{
    text-decoration:none ;
    color: green;
    font-size: 25px;
}
footer{
   background-color:rgba(0, 0, 0, 0.918);
   height: 12em;
   color:whitesmoke;
   
}
.top h2{
    color: white;
}
.bottom{
    padding-left: 38em;
    
}





  /* media system  */
 @media only screen  and (max-width:688px){
    .cam-lists{
        width:100%;
        grid-template-columns: repeat(1, 1fr);
    }
    
}
@media only screen and (min-width:688px) and (max-width:992px) {
    .cam-lists{
        width: 100%;
        
    }
}




